{deps, [
  {jiffy, "", {git, "https://github.com/davisp/jiffy.git", "master"}},
  {elli, "", {git, "git://github.com/knutin/elli.git", "master"}},
  {rscope, "", {git, "git://github.com/knutin/rscope.git", "master"}},
  {elli_basicauth, "1", {git, "git://github.com/martinrehfeld/elli_basicauth.git" ,"master"}}
]}.
